<h1 class="pt-2">Fridge content list</h1>
<button type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a product to the fridge
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form" id="form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Product description</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="productDescription" class="form-label">Product</label>
            <textarea class="form-control" id="productDescription" rows="3" name="description"></textarea>
          </div>
          <div>
            <label for="category" class="form-label">Category</label>
            <select id="category" class="form-select" aria-label="Default select example" name="category">
              <option value="fruits">Fruits</option>
              <option value="vegetables">Vegetables</option>
              <option value="dairy products">Dairy products</option>
              <option value="candy">Candy</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="my-2">
            <label for="date">Expiration date</label>
            <input type="date" id="date" name="expirationDate">
          </div>
          <div class="mb-3">
            <label for="productPhoto" class="form-label">Photo(source)</label>
            <input type="text" id="productPhoto" name="source">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add product</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ul class="list-group" id="list">
  {{#each allProducts}}
  <div>
    <li class="list-group-item">
      <span>{{this.productName}}</span>
      <img src="{{this.source}}" alt="">
      <button type="button" class="btn btn-primary consumeButton">Consume</button>
    </li>
  </div>
  {{/each}}
</ul>
